@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var location = CurrentPage.mapCoord.Split(',');
}
<script charset="UTF-8" type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0">
</script>

<script type="text/javascript">    
    $(function () {      
        var mapOptions = {
            zoom: @(location[2]),
            center: new Microsoft.Maps.Location(@(location[0]), @(location[1])),
            credentials: 'Your-Bing-Key'
        };

        map = new Microsoft.Maps.Map(document.getElementById('mapDiv'), mapOptions);
        // Call the VEMap.LoadMap method to load the map
       
        //map.entities.clear();
        var pushpin = new Microsoft.Maps.Pushpin(map.getCenter(), null);
        map.entities.push(pushpin);
    });

</script>

<div id='mapDiv' style="position:relative; width: 100%; height: 150px;">
</div>
